<!DOCTYPE HTML>
{% extends "logged_in_base.html" %}

{% block content %}

<h2>Create League</h2>
<br/><br/>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}

<div class="shadow-lg p-3 mb-5 bg-white rounded">

	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.league_name.label(class="form-label") }}

		{{ form.league_name(class="form-control") }}
		<br/>

		{{ form.league_password.label(class="form-label") }}

		{{ form.league_password(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}

	</form>

</div>

<br/><br/><br/>
<table class="table table-hover table-bordered table-striped">
	{% for league in all_leagues %}
	<tr>
  	<td>
  		{{ league.id }}. {{ league.league_name }} - {{ league.date_created }} - {{ league.league_manager }} - {{ league.league_password }} - {{ league.draft_complete }} -
			{% for member in league_members %}
				{% if member.league_id == league.id %}
					{{ member.member }},
				{% endif %}
			{% endfor %}
			 - <a href="{{ url_for('delete_league', id=league.id) }}">Delete</a>
			 - <a href="{{ url_for('league_dashboard', league_id=league.id) }}">League Dashboard</a>
    </td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
