{% extends 'base.html' %}

{% block title %}
Secrets
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
    <h1>Welcome</h1><br/>
    <a class="btn btn-primary btn-lg" href=" {{ url_for('add_user') }} ">Sign up!</a>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
    <h3>Past years' graphs for expected wins vs. actual wins</h3><br/>
    <a class="btn btn-primary btn-lg" href=" {{ url_for('expected_vs_actual_graphs') }} ">Click here</a>
    </div>
</div>
{% endblock %}
