<!DOCTYPE HTML>
{% extends "base.html" %}

{% block content %}

<h2>Join League</h2>
<br/><br/>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}

<div class="shadow-lg p-3 mb-5 bg-white rounded">

	<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.league_password.label(class="form-label") }}

		{{ form.league_password(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}

	</form>

</div>

{% endblock %}
