<!DOCTYPE HTML>
{% extends "logged_in_base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>League Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="{{ url_for('static', filename='js/serve.js') }}" type="module"></script>

</head>

<h2>League Dashboard</h2>
<br/><br/>

<div class="container">
  <div class="input-group">
    <span class="input-group-addon hidden-xs linkname">
      <strong>League link</strong>
    </span>
    <span id="copyButton" class="input-group-addon btn" title="Click to copy">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
      </svg>
    </span>
    <input type="text" id="copyTarget" class="form-control" value="https://kcfb12.herokuapp.com{{ url_for('join_league', league_id=league_id) }}">
  </div>
</div>

<div class="card">
  <div class="card-header">
    {{ current_user.name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Members</h5>
    <p class="card-text">
      {% for name in league_member_names %}
        <strong>Name: </strong>{{ name }}<br/>
      {% endfor %}
    </p>
    <p class="card-text">
      {% if current_user.id == league_manager %}
        <a href="{{ url_for('schedule_draft', league_id=league_id) }}" class="btn btn-secondary btn-small">Schedule Draft</a>
        <a href="{{ url_for('league_setup', league_id=league_id) }}" class="btn btn-secondary btn-small">League Setup</a>
      {% endif %}
      <h5 class="card-title">Info</h5>
      <strong>Faab: </strong>${{ faab }}
      <br/><br/>
      <a href="{{ url_for('add_team', league_id=league_id) }}" class="btn btn-secondary btn-small">Add Team</a>
    </p>
  </div>
</div>
<br>

<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="8" style="text-align:center">Standings</th>
      </tr>
      <tr>
        <th scope="col">Place</th>
        <th scope="col">Person</th>
        <th scope="col">Points</th>
        <th scope="col">Faab</th>
        <th scope="col">Team 1</th>
        <th scope="col">Team 2</th>
        <th scope="col">Team 3</th>
        <th scope="col">Team 4</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for person in league_scores_with_names %}
        <tr>
          <th scope="row">{{ league_scores_with_names.index(person) + 1 }}</th>
          <td>{{ person[0] }}</td>
          <td>{{ person[1] }}</td>
          <td>${{ person[7] }}</td>
          <td>{{ person[3] }}</td>
          <td>{{ person[4] }}</td>
          <td>{{ person[5] }}</td>
          <td>{{ person[6] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>

{% if postseason == True %}
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" style="text-align:center">Playoff Team Preferences</th>
        </tr>
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Preference</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for team in playoff_teams %}
          <tr>
            <td>{{team}}</td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

{% if user_waivers_list|length > 0 %}
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="6" style="text-align:center">Current Waivers</th>
        </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Add Team</th>
          <th scope="col">Drop Team</th>
          <th scope="col">Faab</th>
          <th scope="col">Delete</th>
          <th scope="col">Update Faab</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for waiver in user_waivers_list %}
          <tr>
            <th scope="row">{{ user_waivers_list.index(waiver) + 1 }}</th>
            <th scope="col">{{ waiver[0] }}</th>
            <th scope="col">{{ waiver[1] }}</th>
            <th scope="col">${{ waiver[2] }}</th>
            <td><a href="{{ url_for('confirm_delete_waiver', league_id=league_id, id=waiver[3]) }}"
              class="btn btn-danger btn-small">Delete</a></td>
            <td><a href="{{ url_for('update_faab', league_id=league_id, id=waiver[3]) }}"
              class="btn btn-secondary btn-small">Update</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
{% endif %}

<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="7" style="text-align:center">Your Teams</th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Team Points</th>
        <th scope="col">Upcoming Opponent</th>
        <th scope="col">Win Odds</th>
        <th scope="col">Previous Opponent</th>
        <th scope="col">Conference</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for team in current_user_teams %}
        <tr>
          <th scope="row">{{ current_user_teams.index(team) + 1 }}</th>
          {% if user_teams_dict_sorted[team][8] != None %}
            <td><strong>{{ user_teams_dict_sorted[team][8] }}</strong> {{ team }}</td>
          {% else %}
            <td>{{ team }}</td>
          {% endif %}
          <td>{{ user_teams_dict_sorted[team][0] }}</td>
          <td><strong>{{ user_teams_dict_sorted[team][7] }}</strong> {{ user_teams_dict_sorted[team][2] }} ({{ user_teams_dict_sorted[team][5] }})</td>
          <td>{{ user_teams_dict_sorted[team][6] }}</td>
          {% if user_teams_dict_sorted[team][4] != None %}
            <td><strong>{{ user_teams_dict_sorted[team][4] }}</strong> {{ user_teams_dict_sorted[team][3] }}</td>
          {% else %}
            <td>{{ user_teams_dict_sorted[team][3] }}</td>
          {% endif %}
          <td>{{ user_teams_dict_sorted[team][1] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br/>


<div class="card">
  <table class="table table-striped overflow:auto">
    <thead>
      <tr>
        <th colspan="7" style="text-align:center">Available Teams</th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Team Points</th>
        <th scope="col">Upcoming Opponent</th>
        <th scope="col">Win Odds</th>
        <th scope="col">Previous Opponent</th>
        <th scope="col">Conference</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for team in eligible_teams %}
        <tr>
          <th scope="row">{{ eligible_teams.index(team) + 1 }}</th>
          {% if eligible_teams_dict_sorted[team][8] != None %}
            <td><strong>{{ eligible_teams_dict_sorted[team][8] }}</strong> {{ team }}</td>
          {% else %}
            <td>{{ team }}</td>
          {% endif %}
          <td>{{ eligible_teams_dict_sorted[team][0] }}</td>
          <td><strong>{{ eligible_teams_dict_sorted[team][7] }}</strong> {{ eligible_teams_dict_sorted[team][2] }} ({{ eligible_teams_dict_sorted[team][5] }})</td>
          <td>{{ eligible_teams_dict_sorted[team][6] }}</td>
          {% if eligible_teams_dict_sorted[team][4] != None %}
            <td><strong>{{ eligible_teams_dict_sorted[team][4] }}</strong> {{ eligible_teams_dict_sorted[team][3] }}</td>
          {% else %}
            <td>{{ eligible_teams_dict_sorted[team][3] }}</td>
          {% endif %}
          <td>{{ eligible_teams_dict_sorted[team][1] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="card">
  <div class="card-header" style="text-align:center">
    <strong>List of League Activity</strong>
  </div>
  <div class="card-body">
    {% for waiver in executed_waivers %}
      <p class="card-text"><strong>{{waiver[0]}}({{waiver[4]}}): </strong>Added {{waiver[1]}}, Dropped {{waiver[2]}} for ${{waiver[3]}}</p>
    {% endfor %}
  </div>
</div>

<br/><br/>

<div class="card">
  <div class="card-header" style="text-align:center">
    <strong>History of Your Waiver Claims</strong>
  </div>
  <div class="card-body">
    {% for waiver in your_waiver_history %}
      <p class="card-text"><strong>{{waiver[0]}}({{waiver[4]}}): </strong>Added {{waiver[1]}}, Dropped {{waiver[2]}} for ${{waiver[3]}}</p>
    {% endfor %}
  </div>
</div>

<br><br>


{% endblock %}
