<!DOCTYPE HTML>
{% extends "logged_in_base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>League Setup</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="{{ url_for('static', filename='js/serve.js') }}" type="module"></script>
</head>

<h2>League Setup</h2>
<br/><br/>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}

<div class="container">
  <div class="input-group">
    <span class="input-group-addon hidden-xs linkname">
      <strong>League link</strong>
    </span>
    <span id="copyButton" class="input-group-addon btn" title="Click to copy">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
      </svg>
    </span>
    <input type="text" id="copyTarget" class="form-control" value="https://kcfb12.herokuapp.com{{ url_for('join_league', league_id=league_id) }}">
  </div>
</div>

<div class="card">
  <div class="card-header">
    {{ league_name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Players to Update</h5>
    <p class="card-text">
      {% for user in users_to_update %}
        <strong>Name: </strong>
        {{ user[1] }}<br/>
      {% endfor %}
    </p>
    <h5 class="card-title">Updated Players</h5>
    <p class="card-text">
      {% for user in updated_users_with_teams %}
        <strong>Name: </strong>
        {{ user }}      <strong>Teams: </strong>{{ updated_users_with_teams[user][0] }}      <strong>Faab: </strong>${{ updated_users_with_teams[user][1] }}<br/>
      {% endfor %}
    </p>
    <p class="card-text">
      {% if current_user.id == league_manager %}
        <a href="{{ url_for('schedule_draft', league_id=league_id) }}" class="btn btn-secondary btn-small">Schedule Draft</a>
      {% endif %}
    </p>
  </div>
  <form method="POST">
		{{ form.hidden_tag() }}

		{{ form.user.label(class="form-label") }}

		{{ form.user(class="form-control") }}
		<br/>

		{{ form.team1.label(class="form-label") }}

		{{ form.team1(class="form-control") }}
		<br/>

		{{ form.team2.label(class="form-label") }}

		{{ form.team2(class="form-control") }}
		<br/>

		{{ form.team3.label(class="form-label") }}

		{{ form.team3(class="form-control") }}
		<br/>

		{{ form.team4.label(class="form-label") }}

		{{ form.team4(class="form-control") }}
		<br/>

    {{ form.faab.label(class="form-label") }}

		{{ form.faab(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}

	</form>
</div>


<br/><br/>


{% endblock %}
