{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<input
    type="hidden"
    name="next"
    value="{{ request.args.get('next', '') }}"
/>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}

	<form method="POST">
		{{ form.hidden_tag() }}
    <input type="hidden" name="next" value="{{ next or '' }}">

		{{ form.email.label(class="form-label") }}

		{{ form.email(class="form-control") }}
		<br/>

		{{ form.password.label(class="form-label") }}

		{{ form.password(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}

	</form>

</div>
{% endblock %}
