{% extends 'base.html' %}

{% block title %}
Sign up
{% endblock %}

{% block content %}

<h1>Update User:</h1>
<br/>
<div class="shadow-lg p-3 mb-5 bg-white rounded">

	<form action="/update/{{ name_to_update.id }}" method="POST">
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}

		{{ form.name(class="form-control", value=name_to_update.name) }}
		<br/>

		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control", value=name_to_update.username) }}
		<br/>

		{{ form.email.label(class="form-label") }}

		{{ form.email(class="form-control", value=name_to_update.email) }}
		<br/>

		{{ form.password.label(class="form-label") }}

		{{ form.password(class="form-control") }}
		<br/>

		{{ form.password_confirm.label(class="form-label") }}

		{{ form.password_confirm(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}

	</form>

</div>

<br/><br/><br/>
{% endblock %}
