{% extends "logged_in_base.html" %}

{% block title %}
Confirm Delete Waiver
{% endblock %}

{% block content %}

<h1>Edit Faab:</h1>
<br/>

<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Added Team</th>
        <th scope="col">Dropped Team</th>
        <th scope="col">Current Faab</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ team_to_add }}</td>
        <td>{{ team_to_drop }}</td>
        <td>{{ faab }}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>

<form method="POST">
  {{ form.hidden_tag() }}

  {{ form.faab.label(class="form-label") }}

  {{ form.faab(class="form-control") }}
  <br>

  {{ form.submit(class="btn btn-secondary") }}
</form>

<br/><br/><br/>
{% endblock %}
